<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


	<!-- Dashboard Tab -->
	<!--<ion-tab title="Status" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
	<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>-->

	<!-- Cashflow Tab -->
	<!--<ion-tab title="Cash Flow" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse" href="#/tab/cashflow">
	<ion-nav-view name="tab-cashflow"></ion-nav-view>
	</ion-tab>-->


	<!-- Done Tasks Tab -->
	<ion-tab title="Done Tasks" icon-off="ion-checkmark-circled" icon-on="ion-checkmark-circled" href="#/tab/donetasks">
	<ion-nav-view name="tab-donetasks"></ion-nav-view>
	</ion-tab>

	<!-- Tasks For Today Tab -->
	<ion-tab title="Tasks For Todays" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/cashflow">
	<ion-nav-view name="tab-cashflow"></ion-nav-view>
	</ion-tab>


	<!-- Tasks For Tomorrow Tab -->
	<ion-tab title="Tasks For Tomorrow" icon-off="ion-arrow-right-a" icon-on="ion-arrow-right-a" href="#/tab/tomorrow">
	<ion-nav-view name="tab-tomorrow"></ion-nav-view>
	</ion-tab>


</ion-tabs>
